## Lab | Inferential statistics - T-test & P-value

We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test   
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis,    the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is    sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other   

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random    samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt.    At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?   

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case   

Degrees of freedom is (n1-1)+(n2-1).

In [8]:
import pandas as pd
import numpy as np
import math
import scipy.stats as st

In [9]:
data=pd.read_csv('machine_new.txt', sep="\t")
data_student= pd.read_csv('student_gpa.txt', sep="\t")

In [10]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

H0: µnew machine = µold machine

HA: µnew machine ≤ µoldmachine

Confidence level:95%
Alpha=0.05%

In [11]:
new_machine= [42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.7]
old_machine= [42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1]

In [12]:
st.ttest_ind(a=new_machine, b=old_machine, alternative="less")

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0016055712503872579)

P.value es 0.0016 < 0.05, por lo que rechazamos hipóteiss nula y aceptamso la alternativa. La nueva máquina es más rápida.

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.    
Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages.    
Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?   

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case   

Degrees of freedom is (n1-1)+(n2-1).

In [14]:
data_student

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [17]:
# Ejemplo de dos muestras con varianzas diferentes
sopho= [3.04,1.71,3.30,2.88,2.11,2.60,2.92,3.60,2.28,2.82,3.03,3.13,2.86,3.49,3.11,2.13,3.27]
juniors = [2.56,2.77,2.70,3.00,2.98,3.47,3.26,3.20,3.19,2.65,3.00,3.39,2.58]

# Realizar la prueba t sin pooled
t_stat, p_value = st.ttest_ind(sopho, juniors, equal_var=False)

# Imprimir resultados
print("Estadística t:", t_stat)
print("Valor p:", p_value)

Estadística t: -0.9231495630900278
Valor p: 0.3642180675348571

## Lab | Inferential statistics
Instructions   
It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?   

Set up the hypothesis test.
Write down all the steps followed for setting up the test.   
Calculate the test statistic by hand and also code it in Python. It should be 4.76190. We will take a look at how to make decisions based on this calculated value.   
If you finished the previous question, please go through the code for principal_component_analysis_example provided in the files_for_lab folder .

In [ ]:
H0: µ = 120

HA:  µ =! 120

- Usamos Estadistico T ya que la distribiucion es normal en la muestra
- Grados de libertas n-1
- Formula estadistica t = statistics = (sample_mean - population_mean) / (sample_std / math.sqrt(n))

In [18]:
sample_mean= 130.1
population_mean= 120
population_std= 21.21
n=100
statistics = (sample_mean -population_mean)/(population_std/math.sqrt(n))
statistics

4.761904761904759

In [24]:
# Calcular el p-value para la prueba t de dos muestras
p_value = st.t.sf(abs(statistics), df=99)

# Imprimir resultado
print("P-value:", p_value)

P-value: 3.2813509086043083e-06

P.value es < 0.05, por lo que rechazamos hipóteiss nula.