### Lab 5| Customer Analysis Round 
Processing Data
(Further processing...)

X-y split.
Normalize (numerical).

In [57]:
#X-y split.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
df = pd.read_csv('marketing_customer_analysis.csv')

In [59]:
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [60]:
#Tratamos datos

def clean_data(dfm):
     dfm.columns=[e.lower().replace(' ', '_') for e in dfm.columns]
     dfm=dfm.drop(columns=['unnamed:_0', 'vehicle_type'])
     dfm=dfm.dropna()    
     dfm['effective_to_date']=pd.to_datetime(dfm['effective_to_date'], errors='coerce')
     return dfm

In [62]:
df= clean_data(df)

In [63]:
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
6,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,82,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,32,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize

In [64]:
#X-y split.
#total_claim_amount tiene mayor valor de multicolinealidad por lo que será la variable dependiente y pasamos a elimanarla y asignarle Y

X=df.drop('total_claim_amount', axis=1)
y=df.total_claim_amount

In [65]:
#Normalize (numerical).

from scipy.spatial import transform
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler

In [66]:
#Se divide numérica y categorica 
X_num = X.select_dtypes(include=np.number)
X_cat = X.select_dtypes(include=np.object)

In [67]:
X_num.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000

In [68]:
#Normalizacion estandar 

#En la función normalize(X) se realiza la normalización estandar de la variable X, donde:

#X.mean(axis=0) calcula la media de cada columna de X.
#X.std(axis=0) calcula la desviación estándar de cada columna de X.
#X_std[X_std==0]=1.0 se utiliza para manejar el caso donde una columna tiene una desviación estándar igual a cero, lo que provocaría una división por cero. Esta línea de código establece esos valores en 1.
#(X-X_mean)/X_std realiza la normalización estándar propiamente dicha, restando la media de cada columna y dividiendo por su desviación estándar.
#Finalmente, la variable X_num se actualiza con los valores normalizados y se devuelve como resultado de la función.

def normalize(X):
    X_mean=X.mean(axis=0)
    X_std=X.std(axis=0)
    X_std[X_std==0]=1.0
    X=(X-X_mean)/X_std
    return X

X_num=normalize(X_num)
X_num.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,-0.465105,0.341397,-0.936390,-0.803812,0.141024,-0.422226,2.524423
1,-0.840699,-1.239549,-0.849201,-1.200903,-0.790676,-0.422226,-0.822603
2,1.010480,-0.510811,0.197068,1.876553,-0.611503,-0.422226,-0.404225
3,2.085223,0.375927,0.109879,-0.505993,-1.614872,-0.422226,-0.404225
6,-0.432240,-0.008307,-0.878264,-0.704539,1.825250,2.873088,0.432532

In [69]:
X_num=normalize(X_num)
X_num.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,-0.465105,0.341397,-0.936390,-0.803812,0.141024,-0.422226,2.524423
1,-0.840699,-1.239549,-0.849201,-1.200903,-0.790676,-0.422226,-0.822603
2,1.010480,-0.510811,0.197068,1.876553,-0.611503,-0.422226,-0.404225
3,2.085223,0.375927,0.109879,-0.505993,-1.614872,-0.422226,-0.404225
6,-0.432240,-0.008307,-0.878264,-0.704539,1.825250,2.873088,0.432532

In [72]:
### Lab 6

#One Hot/Label Encoding (categorical).
#Concat DataFrames


#Linear Regression
#Train-test split.
#Apply linear regression.

#Model Validation
#Description:
#R2.
#MSE.
#RMSE.
#MAE.

In [73]:
#One Hot/Label Encoding (categorical).
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(drop='first').fit(X_cat)
encoder=encoder.transform(X_cat).toarray()
encoder

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [81]:
#LabelEncoding
#En este caso se ocupo un OrdinalEncoder ya que el label encoding solo acepta un vector 
from sklearn import preprocessing
labels=preprocessing.OrdinalEncoder().fit(X_cat).transform(X_cat)
labels

array([[1.159e+03, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [3.815e+03, 1.000e+00, 0.000e+00, ..., 2.000e+00, 0.000e+00,
        1.000e+00],
       [4.223e+03, 4.000e+00, 0.000e+00, ..., 2.000e+00, 3.000e+00,
        1.000e+00],
       ...,
       [3.810e+03, 3.000e+00, 0.000e+00, ..., 1.000e+00, 0.000e+00,
        1.000e+00],
       [6.790e+03, 0.000e+00, 0.000e+00, ..., 3.000e+00, 2.000e+00,
        1.000e+00],
       [7.703e+03, 1.000e+00, 0.000e+00, ..., 1.000e+00, 3.000e+00,
        1.000e+00]])

In [84]:
#Concatenar
X=np.concatenate((X_cat, encoder),axis=1)

In [87]:
X

array([['DK49336', 'Arizona', 'No', ..., 0.0, 1.0, 0.0],
       ['KX64629', 'California', 'No', ..., 0.0, 1.0, 0.0],
       ['LZ68649', 'Washington', 'No', ..., 0.0, 1.0, 0.0],
       ...,
       ['KX53892', 'Oregon', 'No', ..., 0.0, 1.0, 0.0],
       ['TL39050', 'Arizona', 'No', ..., 0.0, 1.0, 0.0],
       ['WA60547', 'California', 'No', ..., 0.0, 1.0, 0.0]], dtype=object)

In [ ]:
#Linear Regression
#Train-test split.
#Apply linear regression.

In [104]:
#Train-test split.
#Train test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=5)

In [105]:
#Apply linear regression.

from sklearn import linear_model
lm=linear_model.LinearRegression()

model=lm.fit(X_train,y_train)

ValueError: could not convert string to float: 'RN86953'

In [ ]:
#Model Validation
#Description:
#R2.
#MSE.
#RMSE.
#MAE.

In [94]:
#cambiamos de normalizer por standarize y se acerco la predicción más a 0.6 
from sklearn.metrics import mean_squared_error, r2_score
r2_score(y_test,predictions)

NameError: name 'predictions' is not defined

In [ ]:

#MAE
import sklearn.metrics as metrics
metrics.mean_absolute_error(y_test,predictions)

In [ ]:
#MSE
mse =mean_squared_error(y_test,predictions)
mse

In [ ]:
#RMSE
np.sqrt(mse)